* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
}
i,
svg {
  pointer-events: none;
}
.sequencer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
}
.controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 1;
  margin: 2rem 0rem;
}
.controls button {
  padding: 1rem;
  border: 0;
  background-color: rgb(88, 88, 88);
  color: white;
  cursor: pointer;
  transition: all 0.3 ease-in-out;
}
.pad {
  transition: all 0.3 ease-in-out;
}
.kick-pad,
.snare-pad,
.hihat-pad {
  width: 5rem;
  height: 5rem;
  margin: 1rem 0.5rem;
  cursor: pointer;
}
.kick-pad {
  background-color: antiquewhite;
}

.snare-pad {
  background-color: lightblue;
}
.hihat-pad {
  background-color: coral;
}
.kick-track,
.snare-track,
.hihat-track {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70%;
  margin-top: 5rem;
}
.kick,
.snare,
.hihat {
  display: flex;
}
