* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}
i,
svg {
  pointer-events: none;
}
.soundborad-editor {
  display: flex;
  justify-content: center;
  align-items: end;
  margin: 1rem;
}
.form-control {
  display: flex;
  flex-direction: column;
}
.title {
  width: 240px;
  text-align: center;
}
.pad {
  width: 3rem;
  height: 3rem;
  padding: 0;
  border-radius: 0.3rem;
  transition: all 0.5s ease;
  margin: 0rem 0.5rem;
  cursor: pointer;
  background: rgb(160, 211, 224);
}
.pad.active {
  background: rgb(59, 197, 231);
}

.sequencer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.sequence-controls {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.track {
  display: flex;
  align-items: center;
  width: 90%;
  margin-bottom: 1rem;
}
.pads {
  display: flex;
}
.controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0rem 2rem;
}
.muted {
  opacity: 0.2;
}
.icon-btn {
  border-radius: 0.3rem;
  width: 3rem;
  height: 3rem;
  padding: 1rem;
  border: none;
  margin: 1px;
  background: rgb(88, 88, 88);
  color: white;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.5s ease;
}

label {
  font-size: 1.5rem;
  text-align: center;
}
select,
input {
  width: 10rem;
  padding: 1rem;
  font-size: 1.5rem;
  text-align: center;
  border-radius: 0.5rem;
}

.mute.active {
  background: rgb(182, 182, 182);
}

.tempo {
  margin: 3rem;
  width: 30%;
}
.tempo-slider {
  padding: 0.2rem;
  -webkit-appearance: none;
  margin: 1rem 0rem;
  width: 100%;
  position: relative;
  background: rgb(88, 88, 88);
  cursor: pointer;
  border-radius: 1rem;
}
.tempo p {
  font-size: 1.5rem;
  margin: 2rem;
  text-align: center;
}

@-webkit-keyframes playTrack {
  0% {
    transform: scale(1);
  }
  60% {
    transform: scale(1.1);
  }
  90% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1.2);
  }
}

@keyframes playTrack {
  0% {
    transform: scale(1);
  }
  40% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1.2);
  }
}
